.tyr2veil,
.tyr2name {
  opacity: 0 !important;
  transition: opacity 0.6s ease !important;
}

.tyr2phrase {
  opacity: 1 !important;
  transition: opacity 0.6s ease !important;
}

.tyr2img:hover .tyr2veil,
.tyr2img:hover .tyr2name {
  opacity: 1 !important;
}

.tyr2img:hover .tyr2phrase {
  opacity: 0 !important;
}
